.main-matrix-bg-container{
    background-image: url("https://rare-gallery.com/livewalls/imgpreview/145646-abstract-bricks-matrix-shapes-4k-quality.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 7px;
  }